<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @schedule.project %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @schedule.equipment %>
</p>

<p>
  <strong>Status:</strong>
  <%= @schedule.status %>
</p>

<p>
  <strong>Starting date:</strong>
  <%= @schedule.starting_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @schedule.end_date %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
