<%= simple_form_for [@project, @bidder] do |f| %>
  <%= f.error_notification %>
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <% if @bidder.new_record? %>
          <h4>New Bidders</h4>
        <% else %>
          <h4>Update Bidders</h4>
        <% end %>
      </div>
      <div class="panel-body">
      <%= f.input :name, input_html: {class: "input-sm"} %>
  		</div>
			<div class="modal-footer">
        <div class="pull-left">
          <%= link_to "Cancel", project_path(@project), class: "btn btn-warning btn-sm" %>
        </div>
        <div class="pull-right">
          <% if @bidder.new_record? %>
            <%= f.submit "Save", class: "btn btn-primary btn-sm" %>
          <% else %>
            <%= f.submit "Update", class: "btn btn-primary btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
