<p id="notice"><%= notice %></p>

<h1>Listing Material Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Contractor</th>
      <th>Description</th>
      <th>Unit</th>
      <th>Quantity</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @material_expenses.each do |material_expense| %>
      <tr>
        <td><%= material_expense.project_id %></td>
        <td><%= material_expense.contractor_id %></td>
        <td><%= material_expense.description %></td>
        <td><%= material_expense.unit %></td>
        <td><%= material_expense.quantity %></td>
        <td><%= material_expense.price %></td>
        <td><%= link_to 'Show', material_expense %></td>
        <td><%= link_to 'Edit', edit_material_expense_path(material_expense) %></td>
        <td><%= link_to 'Destroy', material_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material expense', new_material_expense_path %>
