<%= simple_form_for(@petty_cash) do  |f| %>
  <%= f.error_notification %>
<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <% if @petty_cash.new_record? %>
        <h4>New Petty Cash Record</h4>
      <% else %>
        <h4>Update Record</h4>
      <% end %>
    </div>
    <div class="panel-body">
      <%= f.input :cash_recipient, input_html: {class: "input-sm"} %>
      <%= f.input :purpose, input_html: {class: "input-sm"} %>
      <%= f.input :amount, input_html: {class: "input-sm"} %>
    </div>
    <div class="modal-footer">
      <div class="pull-left">
        <%= link_to "Cancel", petty_cashes_path, class: "btn btn-warning btn-sm" %>
      </div>
      <div class="pull-right">
        <% if @petty_cash.new_record? %>
          <%= f.submit "Save", class: "btn btn-primary btn-sm" %>
        <% else %>
          <%= f.submit "Update", class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
