<%provide(:title, "#{@equipment} | equipments") %>
<div class="col-md-10 col-md-offset-1">
  <div class="box box-solid">
  	<div class="box-header with-border">
  		<h5 class="text-center help-block">Petty Cash Record</h5>
    	<h4 class="text-center"><%=@petty_cash.created_at.strftime("%B %e, %Y") %></h4>
    </div>
    <div class="box-body">
      <table class="table">
        <tbody>
          <tr class="bg-gray">
            <td>Cash on Hand</td>
            <td></td>
            <td><%= number_to_currency @petty_cash.cash_on_hand %></td>
            <td><span class="pull-right"><% if @petty_cash.set_total_cash_on_hand.blank? %><%= link_to "Edit", edit_petty_cash_path(@petty_cash) %><% end %></span></td>
          </tr>
      		<tr class="bg-gray">
      			<td colspan="2">Cash Sources:</td>
      			<td colspan="2">
      			<%= link_to 'Add Cash Source', new_petty_cash_cash_source_path(@petty_cash), class: 'btn btn-sm btn-primary pull-right' %></td>
      		</tr>
          <% @petty_cash.cash_sources.each do |cash_source| %>
	          <tr>
	          	<td></td>
	            <td><%= cash_source.description.capitalize %></td>
	            <td><%= number_to_currency cash_source.amount %></td>
	            <td><span class="pull-right"><%= link_to "Edit", edit_petty_cash_cash_source_path(@petty_cash, cash_source.id) %> | <%= link_to 'Delete', petty_cash_cash_source_path(@petty_cash, cash_source.id), method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
	          </tr>
	        <% end %>
	        <tr>
	        	<td></td>
	        	<th>Subtotal</th>
	        	<th><%= number_to_currency @petty_cash.set_total %></th>
	        	<td></td>
	        </tr>
      		<tr class="bg-gray">
      			<td colspan="2">Expenditures:</td>
      			<td colspan="2"><%= link_to 'Add Expenditure', new_petty_cash_particular_path(@petty_cash), class: 'btn btn-sm btn-primary pull-right' %></td>
      		</tr>
	        <tr>
	        	<td class="text-muted">Recipient</td>
	        	<td class="text-muted">Purpose</td>
	        	<td class="text-muted">Amount</td>
	        	<td class="text-muted">Action</td>
	        </tr>
	         <% @petty_cash.particulars.each do |partiulars| %>
	          <tr>
	          	<td><%= partiulars.recipient.capitalize %></td>
	            <td><%= partiulars.description.capitalize %></td>
	            <td><%= number_to_currency partiulars.amount %></td>
	            <td><span class="pull-right"><%= link_to "Edit", edit_petty_cash_particular_path(@petty_cash, partiulars.id) %> | <%= link_to 'Delete', petty_cash_particular_path(@petty_cash, partiulars.id), method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
	          </tr>
	        <% end %>
	        <tr>
	        	<td></td>
	        	<th>Subtotal</th>
	        	<th><%= number_to_currency @petty_cash.particulars_total %></th>
	        	<td></td>
	        </tr>
	        <tr class="bg-gray-active">
	        	<td></td>
	        	<th>Total Cash on Hand</th>
	        	<th><%= number_to_currency @petty_cash.set_total_cash_on_hand %></th>
	        	<td></td>
	        </tr>
        </tbody>
      </table>
	  </div>
	</div>
</div>

