
<div class="row">
<div class="col-md-10 col-md-offset-1">
<div class="box box-solid">
<div class="box-header with-border">
  <h4 class="pull-left">List of Projects</h4>
  <%= link_to 'New Project', new_project_path, class: "btn btn-sm btn-primary pull-right" %>
</div>
<div class="box-body">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Contractors</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><strong><%=link_to project.name.upcase, project %></strong></td>
        <td>
        <% project.contractors.each do |contractor| %>
          <%=link_to contractor.company, contractor_path(contractor) %><br>
        <% end %>
        </td>
        <td><%= link_to 'Edit', edit_project_path(project) %> | <%= link_to "Delete", project, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="box-footer">

</div>
</div>
