<%= simple_form_for(@contractor) do |f| %>
<%= f.error_notification %>
<div class="col-md-4 col-md-offset-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>New Contractor</h4>
    </div>
    <div class="panel-body">
      <%= f.input :first_name, input_html: {class: "input-sm"} %>
      <%= f.input :last_name, input_html: {class: "input-sm"} %>
      <%= f.input :company, input_html: {class: "input-sm"} %>
      <%= f.input :position, input_html: {class: "input-sm"} %>
    </div>
    <div class="modal-footer">
      <div class="pull-right">
        <%= f.submit class: "btn btn-primary btn-sm pull-right" %>
      </div>
    </div>
  </div>
</div>
<% end %>
