<p id="notice"><%= notice %></p>

<p>
  <strong>Particular:</strong>
  <%= @petty_cash_particular.particular %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @petty_cash_particular.quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @petty_cash_particular.unit %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @petty_cash_particular.amount %>
</p>

<%= link_to 'Edit', edit_petty_cash_particular_path(@petty_cash_particular) %> |
<%= link_to 'Back', petty_cash_particulars_path %>
