
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :role => 'form'}) do |f| %>
	<div class="row"><br><br>
		<div class="col-sm-4 col-sm-offset-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Log in</h4>
				</div>
			  <div class="panel-body">
			    <%= f.input :username, required: false, autofocus: true %>
			    <%= f.input :password, required: false %>
			    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
			  </div>
			  <div class="modal-footer">
			    <%= f.submit "Log in", class: 'btn btn-primary btn-block' %>
			    <!-- <center>
			    	<%= link_to "Sign up", new_registration_path(resource_name) %>
			    </center> -->
			  </div>
			  <div class="modal-footer">
			  	<center>
			    	<u style="font-size:16px">ALFALFA CONSTRUCTION</u><br>
  					<strong>Copyright &copy; <%=Time.zone.now.year%> <a href="http:kiphodan.herokuapp.com">KIPHODAN TECHNOLOGIES INC.</a></strong>
  				</center>
			  </div>
			</div>
		</div>
	</div>
<% end %>