<p id="notice"><%= notice %></p>

<h1>Listing Biddings</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Bid expense</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @biddings.each do |bidding| %>
      <tr>
        <td><%= bidding.project %></td>
        <td><%= bidding.bid_expense %></td>
        <td><%= link_to 'Show', bidding %></td>
        <td><%= link_to 'Edit', edit_bidding_path(bidding) %></td>
        <td><%= link_to 'Destroy', bidding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bidding', new_bidding_path %>
