<%=simple_form_for(@material) do |f| %>
<%=f.error_notification %>
  <div class='col-md-6 col-md-offset-3'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <% if @material.new_record? %>
          <h4>New Material</h4>
        <% else %>
          <h4>Update Material</h4>
        <% end %>
      </div>
      <div class="panel-body">
        <%= f.input :description, input_html: {class: "input-sm"} %>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :quantity, input_html: {class: "input-sm"} %>
          </div>
          <div class="col-md-6">
            <%= f.input :unit, input_html: {class: "input-sm"} %>
          </div>
        </div>
        <%= f.input :price, input_html: {class: "input-sm"} %>
      </div>
      <div class="modal-footer">
        <%= link_to "Back", materials_path, class: "btn btn-sm btn-warning pull-left" %>
        <% if @material.new_record? %>
          <%= f.submit "Save", class: "btn btn-sm btn-primary pull-right" %>
        <% else %>
          <%= f.submit "Update", class: "btn btn-sm btn-primary pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
