<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table">
        <tbody>
          <tr>
            <td>Description:</td>
            <td><%= @material.description %></td>
          </tr>
          <tr>
            <td>Unit:</td>
            <td><%= @material.unit %></td>
          </tr>
          <tr>
            <td>Quantity:</td>
            <td><%= @material.quantity %></td>
          </tr>
          <tr>
            <td>Price:</td>
            <td><%= @material.price %></td>
          </tr>
          <tr>
            <td>Status:</td>
            <td><%= @material.status %></td>
          </tr>
        </tbody>
      </table>
      <h3>Allocated</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Contractor</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <%@material.billable_materials.each do |billable_material| %>
            <tr>
              <td><%=billable_material.contractor %></td>
              <td><%=billable_material.quantity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <div class="pull-left">
        <%= link_to 'Back', materials_path, class: 'btn btn-sm btn-warning' %>
      </div>
      <div class="pull-right">
        <%= link_to 'Update', edit_material_path(@material), class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
  </div>
</div>
